{% extends 'layouts/default.html'%}
 
{% block body %}

    <h1>ABOUT PAGE</h1>
    
    <p>  <!--Fait la reférance avec RACT -->
        Bienvenue sur Cardio,
        une application de simulation de fréquence cardiaque intuitive et accessible à tous.
        Notre objectif est d'aider les utilisateurs à mieux comprendre leur rythme cardiaque
        en leur offrant une expérience immersive et éducative. Grâce à Cardio, vous pouvez
        simuler différentes situations et activités pour observer comment votre fréquence
        cardiaque réagit. Que vous soyez un amateur de fitness, un professionnel de la santé
        ou simplement curieux de mieux connaître votre corps, notre application vous permettra
        d'explorer les relations complexes entre l'activité physique, les émotions et la santé
        cardiovasculaire. Rejoignez-nous dès aujourd'hui dans cette aventure palpitante vers
        une meilleure compréhension de votre cœur !
    </p> 

{% endblock body %}    
