{% extends 'layouts/default.html' %}

{% block body %}
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">

    <h1 class="text-2xl font-semibold mb-10">Simulateur de fréquence cardiaque</h1>
    <form method="POST" action="/calculate_heart_rate">

        <div class="mb-10">
            <label for="sexe" class="block text-sm font-medium text-gray-700 mb-2">Sexe du patient :</label>
            <input type="text" id="sexe" name="sexe" class="border rounded-lg px-3 py-2 w-full " placeholder="Veuillez choisir femme ou homme" required>
        </div>

        <div class="mb-10">
            <label for="age" class="block text-sm font-medium text-gray-700 mb-2">Âge du patient :</label>
            <input type="number" id="age" name="age" class="border rounded-lg px-3 py-2 w-full" required>
        </div>

        <div class="mb-10">
            <label for="intensite_exercice" class="block text-sm font-medium text-gray-700 mb-2">Niveau d'intensité de l'exercice :</label>
            <input type="text" id="intensite_exercice" name="intensite_exercice" class="border rounded-lg px-3 py-2 w-full" placeholder="Veuillez choisir parmi faible, moyen ou élevé." required>
        </div>
        
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg mt-6">
            Calculer la fréquence cardiaque
        </button>
    </form>
</div>
</section>
{% endblock body %}



